/target/
*.log
*.classpath
.project
src/main/resources/static/.idea/modules.xml
src/main/resources/static/.idea/static.iml
src/main/resources/static/.idea/workspace.xml
*.1
eTasker.log.1
Etasker/.idea/compiler.xml
Etasker/.idea/copyright/profiles_settings.xml
Etasker/app/proguard-rules.pro
*.xml
Etasker/gradlew.bat
*.gradle
*.properties
Etasker/gradle/wrapper/gradle-wrapper.jar