.top-navbar {
    padding-right: 10px;
    padding-left: 11px;
}

#time-label {
    margin-right: 20px;
}

#name-label {
    font-weight: bold;
}

.navbar-brand {
    font-size: 25px;
}

#tab-profile {
    margin-top: 30px;
}

#tab-password {
     margin-top: 30px;
 }

#tab-layout {
    margin-top: 30px;
}

.icon-nav-left {
    margin-right: 10px;
}

textarea {
    text-align: left;
}

.red-star {
    color: red;
    font-size: 17px;
}

th {
    font-weight: normal;
}

.modal-header {
    background-color: #fff;
}
/*WORKER*/
#row-btn-new-worker {
    margin-top: 30px;
}
#alert-worker {
    margin-top: 30px;
}
#row-table-worker {
    margin-top: 30px;
}

/*CLIENT*/
#alert-client {
    margin-top: 30px;
}
#row-table-client {
    margin-top: 30px;
}
#row-btn-new-client {
    margin-top: 30px;
}