.top-navbar {
    padding-right: 10px;
    padding-left: 11px;
}

#time-label {
    margin-right: 20px;
}

#name-label {
    font-weight: bold;
}

.navbar-brand {
    font-size: 25px;
}

#tab-profile {
    margin-top: 50px;
}

#tab-password {
    margin-top: 50px;
}

#icon-nav-left {
    margin-right: 10px;
}